<section class="block container block-domain">
  <div class="block__header">
    <h2 class="block__heading">The best webhosting Starting at per month</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis suscipit
      dolores quod veritatis eius aperiam nulla facere illo veniam fugit.
    </p>
  </div>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter domain here..." />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </div>
  <ul class="block-domain__prices list">
    <li>.com $9.26</li>
    <li><span class="badge badge--secondary">.sg $7.91</span></li>
    <li>.space $12.98</li>
    <li>.info $14.15</li>
    <li>.net $16.15</li>
    <li>.xyz $10.15</li>
    <a class="block-domain__more">More</a>
  </ul>
</section>
