<section class="block block--dark block--skewed-right block-showcase">
  <div class="block__header">
    <h2 class="block__heading">User-Friendy Control Panel</h2>
  </div>
  <div class="container grid grid--1x2 block-showcase__body">
    <img class="block-showcase__image" src="/images/ipad.png" alt="" />

    <ul class="list">
      <li>
        <div class="media media--dark">
          <div class="media__icon">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#computer"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p class="media__description">
              Our cloud plans include easy onboarding for new and existing sites
              and managed WordPress and WooCommerce auto-updates.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media media--dark">
          <div class="media__icon">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Staging, Git & WP-CLI</h3>
            <p class="media__description">
              We make your WordPress and WooCommerce development flow easier
              with a convenient staging tool and Git and WP-CLI integration.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media media--dark">
          <div class="media__icon">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Dynamic Caching & More</h3>
            <p class="media__description">
              Speed up your WordPress and Woo sites with our SG Optimizer plugin
              through smart dynamic caching and multiple other performance
              optimizations.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
