<blockquote class="qoute">
  <p class="qoute__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum accusantium
    necessitatibus et beatae quasi illum magnam ipsam ducimus porro at saepe
    natus quis debitis, consequuntur, fuga quas. Obcaecati, natus quia.
  </p>
  <footer>
    <div class="media">
      <div class="media__icon">
        <svg class="icon icon--primary qoute__icon">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title qoute__author">John Smith</h3>
        <p class="media__description qoute__company">Company ABC</p>
      </div>
    </div>
  </footer>
</blockquote>
