<div style="margin: 3rem" class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="/images/testimonial.jpg" alt="a happy customer photo." />
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--white icon--small">
          <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="qoute">
      <p class="qoute__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
        accusantium necessitatibus et beatae quasi illum magnam ipsam ducimus
        porro at saepe natus quis debitis, consequuntur, fuga quas. Obcaecati,
        natus quia.
      </p>
      <footer>
        <div class="media">
          <div class="media__icon">
            <svg class="icon icon--primary qoute__icon">
              <use xlink:href="images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title qoute__author">John Smith</h3>
            <p class="media__description qoute__company">Company ABC</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
